<div class="control is-horizontal">
    <div class="control-label is-3" ng-class="{'input-label':editableKey}">
        <input ng-if="editableKey" class="input" type="text" placeholder="Key" ng-model="key"/>
        <label ng-if="!editableKey" class="label">{{key}}</label>
    </div>
    <div class="control is-expanded">
        <input class="input" type="text" placeholder="Value" ng-model="value" ng-disabled="!editableValue"/>
    </div>
    <button class="delete is-small" ng-if="deletable" ng-click="delete()"></button>
</div>